@font-face {
    font-family: 'avenir_regular';
    src: url('./avenir_regular/AvenirNextLTPro-Regular.eot');
    src: url('./avenir_regular/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('./avenir_regular/AvenirNextLTPro-Regular.woff') format('woff'),
         url('./avenir_regular/AvenirNextLTPro-Regular.ttf') format('truetype'),
         url('./avenir_regular/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir_light';
    src: url('./avenir_light/AvenirNextLTPro-UltLtCn.eot');
    src: url('./avenir_light/AvenirNextLTPro-UltLtCn.eot?#iefix') format('embedded-opentype'),
         url('./avenir_light/AvenirNextLTPro-UltLtCn.woff') format('woff'),
         url('./avenir_light/AvenirNextLTPro-UltLtCn.ttf') format('truetype'),
         url('./avenir_light/AvenirNextLTPro-UltLtCn.svg#AvenirNextLTPro-UltLtCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir_light_italic';
    src: url('./avenir_light_italic/AvenirNextLTPro-UltLtCnIt.eot');
    src: url('./avenir_light_italic/AvenirNextLTPro-UltLtCnIt.eot?#iefix') format('embedded-opentype'),
         url('./avenir_light_italic/AvenirNextLTPro-UltLtCnIt.woff') format('woff'),
         url('./avenir_light_italic/AvenirNextLTPro-UltLtCnIt.ttf') format('truetype'),
         url('./avenir_light_italic/AvenirNextLTPro-UltLtCnIt.svg#AvenirNextLTPro-UltLtCnIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'seravek';
    src: url('./seravek/seravek-medium-webfont.eot');
    src: url('./seravek/seravek-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('./seravek/seravek-medium-webfont.woff2') format('woff2'),
         url('./seravek/seravek-medium-webfont.woff') format('woff'),
         url('./seravek/seravek-medium-webfont.ttf') format('truetype'),
         url('./seravek/seravek-medium-webfont.svg#seravekmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_italic';
    src: url('./futura_italic/futura-mediumitalic-webfont.eot');
    src: url('./futura_italic/futura-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./futura_italic/futura-mediumitalic-webfont.woff2') format('woff2'),
         url('./futura_italic/futura-mediumitalic-webfont.woff') format('woff'),
         url('./futura_italic/futura-mediumitalic-webfont.ttf') format('truetype'),
         url('./futura_italic/futura-mediumitalic-webfont.svg#futuramedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}